log_format timed_combined '$remote_addr - $remote_user [$time_local]  '
                          '"$request" $status $body_bytes_sent '
                          '"$http_referer" "$http_user_agent" $request_time';


server {
    listen {{ HTTPS_APP_PORT }} ssl;

    ssl_certificate {{APP_DIR}}/ssl/onestep.crt
    ssl_certificate_key {{APP_DIR}}/ssl/onestep.key

    # mini hack
    # this line is important, for u to handle http and https on same port
    # see: http://bit.ly/1C0kgny

    error_page 497 301 =307 https://{{ SERVER_IP }}:{{ HTTPS_APP_PORT }}$request_uri;

    # in order to preserve the http VERB that the request came with,
    # we use error response redirection (ie 301 =307)
    # see: http://bit.ly/1uX5jNO

    location /static {
        alias {{ APP_STATIC_DIR }};
    }

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_connect_timeout 300;
        proxy_read_timeout 300;
        proxy_pass http://{{ SERVER_IP }}:{{ GUNICORN_PORT }}/;
    }
}
